<div class="bg-purple-50 w-full flex flex-col justify-center items-center sticky inset-0 z-10">
  <h1 class="text-fSize__xl tracking-widest font-semibold uppercase">
    EDIT
  </h1>
</div>

<%= render partial: "article_form", locals: {article: @article} %>